* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: pink;
}

div.board-container {
    padding: 0px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: pink;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-bottom: 25px;

}

#board-plain {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box {
    
    height: 150px;
    width: 148.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    background-color: pink;
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6) ~ .box {
    border-bottom: none;
}

#start-box {
    background-color: pink;
    text-align: center;
    border: black 10px solid;
    padding: 50px;
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'IBM Plex Mono', monospace;

}

#game-over-area {
    background-color: pink;
    text-align: center;
    border: black 10px solid;
    padding: 50px;
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#replay-screen {
    color: black;
    font-size: 2.5em;
    margin-top: 0px;
}

#replay-btn {
    background-color: transparent;
    color: black;
    border: black  5px solid;
    padding: 10px;
    font-size: 1.5em;
}

.hide {
    display: none;
}
.visible {
    display: block;
}